<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.brook.app.android.filepicker">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application>
        <activity
            android:name="com.brook.app.android.filepicker.ui.FilePickerActivity"
            android:theme="@style/FilePickerTheme" />

        <provider
            android:name="com.brook.app.android.filepicker.util.CacheProvider"
            android:authorities="${applicationId}.cacheprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>
</manifest>
